<h1>Stupid Coaching</h1>
<div id="question">
  <p><%= params[:question] %></p>
  <p>- You</p>
</div>
<div id="answer">
  <p><%= @answer %></p>
  <p>- Coach</p>
</div>
<%= link_to "Ask another question", ask_path %>

<!-- pe er end -->
<!-- pe shows in the html
er doesnt show in the html
end shortcut to er for end
 -->
